/* Root */
:root {
    --bg-color-gradient: linear-gradient(to right, #00c6ff, #0072ff);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html {}

body {
    overflow: hidden;
}


.my-name {
    font-size: 38px !important;
    text-align: center;
    justify-content: center;
    color: darkgreen;

}

.header-nav {
    position: sticky;
    top: 0px;
    z-index: 999;
}

#body {
    background-color: rgb(13, 9, 22);
    height: calc(100vh - 60px);
}

#mySidebar {
    flex: 1;
}

.content {
    flex: 8;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 5px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #00c6ff;
    border-radius: 10px;
}


.nav-item .active {
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

/* Get from BS5 slidebars.css */
.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background: var(--bg-color-gradient);
}

.arrow-down {
    flex: 2;
    text-align: end;
}

.arrow-up {
    flex: 2;
    text-align: end;
}

.btn-toggle[aria-expanded="true"] .arrow-down {
    display: none;
}

.btn-toggle[aria-expanded="false"] .arrow-up {
    display: none;
}


.fs--1 {
    font-size: .8333333333rem !important;
}

.fs-0 a {
    text-decoration: none;
}


.box-item{
    padding: 20px;
    border: 1px solid aqua;
    border-radius: 10px;
}

.name-chucnang {
    display: flex;
    font-weight: 700;
    color: #0072ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    justify-content: center;
    text-transform: uppercase;
}

.box-item a .img-chucnang img {
    transform: scale(0.7);
    transition: 0.5s;
}

.box-item a:hover .img-chucnang img{
    transform: scale(0.9);
}



/* Footer */
.footer {
    position: sticky;
    height: 60px;
    background-color: darkgreen;
    z-index: 1000;
}