/* Root */
:root {
    --bg-color-gradient: linear-gradient(to right, #00c6ff, #0072ff);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}



.my-name {
    font-size: 38px !important;
    text-align: center;
    justify-content: center;
    color: darkgreen;

}

#body {

    height: calc(100vh - 60px);
    background-color: rgb(13, 9, 22);
}

#mySidebar {
    flex: 1;
}

.content {
    flex: 8;
}

.content-header {
    height: 60px;
}

.footer {
    height: 60px;
    background-color: darkgreen;
}

.nav-item .active {
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.nav-item .collapsed.show {}

/* Get from BS5 slidebars.css */
.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background: var(--bg-color-gradient);
}

.collapse {}

.arrow-down {
    flex: 2;
    text-align: end;
}

.arrow-up {
    flex: 2;
    text-align: end;
}

.btn-toggle[aria-expanded="true"] .arrow-down {
    display: none;
}

.btn-toggle[aria-expanded="false"] .arrow-up {
    display: none;
}

/* List product */
.dashboard-list {
    list-style: none;
    padding: 0;
}

.dashboard-list li {
    padding: 15px;
}

.dashboard-list li a {
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    text-decoration: none;
    color: #00c6ff;
}

.dashboard-list li a img {
    transform: scale(.7);
    margin: auto;
    display: block;
    transition: .5s;
}

.dashboard-list li a img:hover {
    transform: scale(.9);
}

.dashboard-list li a span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}